.portfolio__card{
    position: relative;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    flex: 0 1 20%;
}

@media all and (max-width: 1039px) {
    .portfolio__card {
        width: 329px;
        height: 329px;
    }
}


.selected__card{
    outline: 7px solid #4FE24A;
    background-color: #4FE24A;
}

.card__name{
    position: absolute;
    bottom: 50px;
    left: 45px;
    font-size: 40px;
    line-height: 48px;
}

.card__button{
    position: absolute;
    bottom: 120px;
    left: 45px;
    height: 36px;
    padding: 0 18px;
    border-radius: 18px;
}